/* About Page styles */
#bootstrap, #django, #spotipy {
    color: #F1873B;
}

/* Dashboard styles */
body {
    padding-top: 4.5rem;
    background-color: #333333;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica Neue, sans-serif;
}

p {
    color: white;
}

hr {
    background-color: gray;
}

.dropdown-menu li.active > a,
.dropdown-menu li.active > a:hover,
.dropdown-menu li.active > a:focus{
    background-color: #F1873B; !important;
    color: #000000;
}

.dropdown-menu li > a:active:focus:hover,
.dropdown-menu li > a:active:focus {
    background-color: #F1873B; !important;
}

.dropdown-menu li > a:hover {
    background-color: #cccccc;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: #555555;
    color: #ffffff;
}

.nav-pills .pill-1 .nav-link, .nav-pills .pill-2 .nav-link {
    background-color: #F1873B;
    color: black;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: #555555;
    color: #ffffff;
}

#createDailyButton, #shuffleButton {
    color: black;
}

#content {
    background-color: #444444;
    border-radius: 25px;
}

.navbar-dark {
    background-color: #2d2d2d;
}

#loginButton, #loginButton:active, #loginButton:focus, #loginButton:target, #loginButton:hover, #loginButton:active:focus:hover {
    background-color: #1DB954;
}

.btn-lg, .btn-lg:active, .btn-lg:focus, .btn-lg:active:focus {
    border: none;
    background-color: #F1873B;
}

.btn-primary:active:hover:focus, .btn-primary:focus, .btn-primary:active:focus:not(:hover) {
    background-color: #F1873B;
}

.btn-lg:hover {
    background-color: #EE6D11;
}

.btn-lg:disabled, .btn-lg:disabled:hover {
    background-color: darkgray;
    pointer-events: none;
}

.btn-lg.text {
    user-select: none;
}