/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica Neue, sans-serif;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:target, .btn-primary:hover, .btn-primary:active:focus:hover {
    background-color: #1DB954;
    /*background-color: #33312E; */
}

.btn-lg {
    border: none;
}

.btn-light {
    background-color: #EE6C4D;
    color: #FFFFFF;
}

.btn-lg.text {
    user-select: none;
}