{% extends 'base.html' %}

{% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }} fade show" {% endif %} role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        {% if request.session.access_token %}
            <div class="container align-content-center">
                <form class="form" method="POST" action="{% url 'playlist_shuffle' %}">
                    {% csrf_token %}
                    <select class="form-control align-content-center mb-3"
                            id="playlistSelect" name="playlistSelection" style="width:350px">
                        {% for playlist in all_playlists %}
                            <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Shuffle</button>
                </form>
            </div>
        {% else %}
            <h2>Shuffle</h2>
            <p class="lead">This website will allow you to shuffle your playlists with a randomizing algorithm that
                shuffles much better than the garbage "shuffle" algorithm Spotify uses by default.</p>
            <a class="btn btn-lg btn-primary" href="{% url 'authorize' %}" role="button">
                <i class="fa fa-spotify" aria-hidden="true"></i> Login using Spotify</a>
        {% endif %}
    </div>
{% endblock %}
